@model IEnumerable<FurnitureHouse.Models.FurnitureCategory>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">All Furniture Category Details</h1>

<p>
    <a class="btn btn-dark" asp-action="Create">Add New Furniture Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FurnitureCategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FurnitureCategoryName)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-secondary" asp-route-id="@item.FurnitureCategoryID">Edit</a> |
                
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.FurnitureCategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
