@{
    ViewData["Title"] = "MyFavourites";
}

<div class="text-center">
    <h1 class="display-4 heading">Contact Us</h1>
</div>
<hr />
<div class="row" style="margin-bottom:50px;">
    <div class="col-md-6 mb-3">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-text">
                    Branch 1
                </h5>
                <p><strong>Address: </strong> 52 Walters Street TATONG</p>
                <p><strong>Contact No:</strong>(03) 5377 2716 </p>

            </div>

        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-text">
                    Branch 2
                </h5>
                <p><strong>Address: </strong>220  Seddon Street Pakuratahi </p>
                <p><strong>Contact No:</strong>(028) 0202-739 </p>

            </div>

        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-text">
                    Branch 3
                </h5>
                <p><strong>Address: </strong>148  Andrew Street Parkside Timaru </p>
                <p><strong>Contact No:</strong> (027) 3315-488</p>

            </div>

        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-text">
                    Branch 4
                </h5>
                <p><strong>Address: </strong> 204  Rosebank Terrace Balclutha</p>
                <p><strong>Contact No:</strong> (021) 1769-281 </p>

            </div>

        </div>
    </div>
</div>