@model IEnumerable<FurnitureHouse.Models.Favourite>

@{
    ViewData["Title"] = "MyFavourites";
}

<div class="text-center">
    <h1 class="display-4 heading">My Favourites</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Furniture Photo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FurnitureInfo.FurnitureName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/furnitures/@item.FurnitureInfo.FurnitureInfoID@item.FurnitureInfo.Extension" 
                     style="width:200px;height:200px" />                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FurnitureInfo.FurnitureName)
            </td>
            <td>
                <a class="btn btn-danger" onclick="return confirm('Are You Sure To Remove This Furniture to Your Favourite List?')" asp-action="DeleteFavourite" asp-route-id="@item.FavouriteID">Remove From Favourite</a>
            </td>
        </tr>
}
    </tbody>
</table>
